<div class="AddEmployeeTitleContainer">
  <div class="addEmployeeTitleContainer">
    <div>
      Manage Courses
    </div>
    <br />
    <div class="btn btn-primary" (click)="addNewCourseBtn()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
      </svg>
    </div>
  </div>
</div>

<style>
  .hide {
    display: none;
  }

  .myDIV:hover+.hide {
    display: block;
    color: green;
  }
</style>

<div class="myDIV">
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-question-square-fill"
    viewBox="0 0 16 16">
    <path
      d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.496 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" />
  </svg>
  Help
</div>
<div class="hide">
  This page allows you to Create, Update, Read and Delete a Course. By clicking the Add blue icon you can Craete a
  Course. By Clicking the Trash icon in red you will be able to delete. By clicking the blue pencil icon you will be
  able to update a course you desire. This page allows you to search, by simply typing the keys and the system filters
  through.
</div>

<!-- Create Course Form -->
<div *ngIf="newCourseClicked">
  <div class="formWrapper">
    <h2>Create Course</h2>
    <form>
      <div class="form-group name">
        <label>Enter Course Name:</label>
        <input type="text" class="form-control input" id="name" name="name" [(ngModel)]="model.CourseName"
          placeholder="COVID-19 Protocal Course">
      </div>
      <div class="form-group position">
        <label>Enter Course Description:</label>
        <textarea type="text" class="form-control positionInput" id="description" name="description"
          [(ngModel)]="model.CourseDescription" placeholder="Description">
    </textarea>
      </div>
      <div class="form-group name">
        <label>Enter Course Due Date:</label>
        <input type="date" min="{{this.date}}" class="form-control input" id="CourseDueDate" name="CourseDueDate"
          [(ngModel)]="model.CourseDueDate">
      </div>
      <div class="submitBtnContainer">
        <button type="submit" class="btn btn-success" (click)="addCourse()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
          </svg>
          SAVE</button>
      </div>
    </form>
  </div>
</div>

<hr>

<!-- Search Field -->
<div class="search-hero container">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
    placeholder="&#61442;  Start searching for a course by id or name or description">
</div>

<!-- List courses table -->
<div class="tableWrapper">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-1">ID</th>
        <th class="col-3">Name</th>
        <th class="col-3">Description</th>
        <th class="col-2">Due Date</th>
        <th class="col-4">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of course | filter:searchText; let i = index">
        <td>{{course.courseID}}</td>
        <td>{{course.courseName}}</td>
        <td>{{course.courseDescription}}</td>
        <td>{{course.courseDueDate}}</td>
        <td>
          <button class="btn btn-warning" (click)="onNavigateToEnrollments(course)">Enrollments</button>
          <button class="btn btn-warning" (click)="onNavigateToCourseLessons(course)">Lessons</button>
          <button class="btn btn-primary" (click)="editCourse(i)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </button>
          <button class="btn btn-danger" (click)="deleteCourse(course.courseId)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill"
              viewBox="0 0 16 16">
              <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Update Course - I Don't know what this does -->
<div class="editEmployeeTitleContainer">
  <div class="">Update Course</div>
</div>

<form>
  <div class="form-group name">
    <label>Enter Course Name:</label>
    <input type="text" class="form-control input" id="name" name="name" [(ngModel)]="model2.CourseName"
      placeholder="COVID-19 Protocal Course">
  </div>
  <div class="form-group position">
    <label>Enter Course Description:</label>
    <textarea type="text" class="form-control positionInput" id="description" name="description"
      [(ngModel)]="model2.CourseDescription" placeholder="Description">
    </textarea>
  </div>
  <div class="form-group name">
    <label>Enter Course Due Date:</label>
    <input type="date" min="{{this.date}}" class="form-control input" id="CourseDueDate" name="CourseDueDate"
      [(ngModel)]="model2.CourseDueDate">
  </div>
  <button class="btn btn-success" type="submit" (click)="updateCourse()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square"
      viewBox="0 0 16 16">
      <path
        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
      <path fill-rule="evenodd"
        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
    </svg>
    Update</button>
</form>
