<div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">About us page</h1>

          <p class="lead text-muted mb-0">
              The ZA Hub is a DevOps Hub of BMW (South Africa) (Pty) Ltd. based in South Africa, providing IT Solutions to the global BMW Group. 
               <br/> 
              We focus on innovation topics as well as comprehensive IT solutions such as Development and Operations for SAP, JAVA, Azure, Cloud etc.
              <br/> 
              Our unique positioning as an internal partner to the BMW Group ensures collaborative partnerships internally, a deep insight into the compliance and IT Methodology processes within BMW and the ability to offer our internal BMW clients an extended warranty due our vested interest in the success and sustainability of the BMW Group.
              <br/> 
              We are involved in all BMW core business processes.
              <br/> 
              The track record of the ZA Hub speaks for itself having successfully implemented several key IT Solutions globally for the BMW Group.
            </p>

            <br/> 

          <p class="lead text-muted">HeadQuarter <a class="text-muted"> 
                      <u>City of Tshwane, Gauteng</u></a>
          </p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>