<!-- This is the side bar menu -->


<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
  <div
      class="sidebar-close"
      (click)="sidebarShow = !sidebarShow"
  >
      X
  </div>
  <div class="sidebar-content">
      <h2>Menu</h2>
      <a class="nav-item nav-link" routerLink="/" style="color:#FFFFFF">Home</a>
      <a routerLink="/about" style="color:#FFFFFF">About</a>
      <a routerLink="/ss_users" *ngIf="isUsers" style="color:#FFFFFF">Users</a>
      <a routerLink="/admin"  *ngIf="isAdministraor" style="color:#FFFFFF">Role</a>
      <a routerLink="/ss_administrator"  *ngIf="isAdministraor" style="color:#FFFFFF">Administrator</a>
      <a routerLink="/ss_course"  *ngIf="isCourse" style="color:#FFFFFF">Course</a>
      <a class="nav-item nav-link" *ngIf="isEquipment" routerLink="/ss_equipment" style="color:#FFFFFF">Equipment</a>
      <a class="nav-item nav-link"  *ngIf="isOnboarder" routerLink="/ss_onboarder" style="color:#FFFFFF">Onboarder</a>
      <a class="nav-item nav-link" *ngIf="isReport" routerLink="/ss_report" style="color:#FFFFFF">Report</a>
  </div>
</div>

<!-- Toolbar -->
<div class="toolbar" role="banner" style="z-index: -1">

  <div class="sidebar-opener" (click)="sidebarShow = !sidebarShow">
    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
  </div>

  <img
    routerLink="/"
    width="40"
    alt="BMW Logo"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/BMW_logo_%28gray%29.svg/2048px-BMW_logo_%28gray%29.svg.png"
  />

  <span routerLink="/">
      <a style="color:#000000">BMW</a> 
      <br/> 
      <a style="color:#008ac9">Onboarder</a>
      <br/>
      <a style="color:#FFFFFF">System</a>
  </span>


    <div class="spacer"></div>

    <div routerLink="/profile">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
      Profile
    </div>

    <div class="spacer"></div>

    <a href="https://drive.google.com/file/d/1K6amNLzPvp2YD-Kcr1QdprcUYTTmZ_4b/view?usp=sharing">Help</a>

    <div class="spacer"></div>

    <div (click)="logout()">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
      </svg>
      Logout .
    </div>
    
</div>

<div class="content" role="main">

  <!-- main app container -->
  <div>
    <alert></alert>
    <router-outlet></router-outlet>
  </div>

</div>



<!-- credits -->
 <div class="text-center">
    <br/>
    <p></p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/BMW_logo_%28gray%29.svg/2048px-BMW_logo_%28gray%29.svg.png" alt="Girl in a jacket" width="35" height="35">
    <p>
        <strong>
            BMW
        </strong>
        Onboarder System
    </p>
    <br/>
</div> 


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
