  <div class="AddEmployeeTitleContainer">
    <div class="addEmployeeTitleContainer">
      <div>
        Manage Equipment Query
      </div>
    </div>
    <div class="addEmployeeBtnContainer">
    </div>
    </div>
    
    <div *ngIf="newReport_QueryClicked">
    <div class="formWrapper">
      <h5>Query</h5>
      <a class="btn btn-link" (click)="CloseReport_QueryBtn()">X</a>
    <form>
        <div class="form-group position">
            <mat-radio-group 
              class="answer-options-container"
              [(ngModel)]="queryStatusId">
              <mat-radio-button 
                *ngFor="let query of query.answerOptions"
                [value]="query.equipmentQueryStatusId">
                {{query.equipmentQueryDescription}}</mat-radio-button>
            </mat-radio-group>
        </div>
    
    </form>
    </div>
    </div>
    
    <hr>
  
  <div class="search-hero container">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
      placeholder="&#61442;  Start searching">
  </div>
    
    <div class="tableWrapper">
    <table class="table table-striped">
    <thead>
      <tr>
        <th class="col">Query</th>
        <th class="col">Query Date</th>
        <!-- <th class="col">Serial Number</th>
        <th class="col">Query Description</th>
        <th class="col">Equipment Type</th>
        <th class="col">Equipment Brand</th> -->
        <th class="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of x | filter:searchText; let i = index">
        <td>{{item.equipmentQueryDescription}}</td>
        <td>{{item.equipmentQueryDate}}</td>
        <!-- <td>{{item.equipmentQueryStatus.equipmentQueryDescription}}</td>
        <td>{{item.equipment.equipmentSerialNumber}}</td>
        <td>{{item.equipment.equipmentType.equipmentTypeDescription}}</td>
        <td>{{item.equipment.equipmentBrand.equipmentBrandDescription}}</td> -->
        <td>
        <div>
          
        </div>
        <button class="btn btn-danger" (click)="editReport_Query(item.equipmentQueryId)">Resolve Query</button>
        </td>
      </tr>
    </tbody>
    </table>
    </div> 