<div class="container">
  <h2>Course Progress</h2>


  <!-- List courses table -->
  <div class="tableWrapper">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-1">Date Achieved</th>
          <th class="col-2">Course</th>
          <th class="col-2">Lesson</th>
          <th class="col-2">Outcome</th>
          <th class="col-2">Quiz</th>
          <th class="col-1">Badge</th>
          <th class="col-3">Mark</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let achievement of achievements">
          <td>{{achievement.date}}</td>
          <td>{{achievement.courseName}}</td>
          <td>{{achievement.lessonName}}</td>
          <td>{{achievement.lessonOutcomeName}}</td>
          <td>{{achievement.quizName}}</td>
          <td>{{achievement.badge}}</td>
          <td>{{achievement.mark}} %</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
