<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a>Course</a></li>
    <li class="breadcrumb-item"><a>Lesson</a></li>
    <li class="breadcrumb-item"><a>Lesson Outcome</a></li>
    <li class="breadcrumb-item active" aria-current="page">Quiz</li>
  </ol>
</nav>

<h1>
  Quiz
</h1>

<div>

  <div class="container">
    <div *ngFor="let quiz of quizzes; let i = index">
      <div>
        <h2>{{i+1}}. {{quiz.name}}</h2>

        <p>
          To pass this quiz, a minimum mark must be achieved of: 50%
        </p>
        <p>
          To pass and get a gold badge, you must get a minimum of : {{quiz.passMarkPercentage}} %
        </p>
        <p>Due Date: {{quiz.dueDate}}</p>
        <button class="btn btn-info" [routerLink]="['/quiz', quiz.id]">Start Quiz</button>
      </div>
      <hr>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Please wait</p>
</ngx-spinner>
