<div class="card bg-light mb-3">
  <div class="container">

    <h1>Assign Equipment</h1>

  <p></p>

  <style>
    .hide {
      display: none;
    }  
    .myDIV:hover + .hide {
      display: block;
      color: green;
    }
    </style>
    <div class="myDIV">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-question-square-fill" viewBox="0 0 16 16">
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.496 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z"/>
      </svg>
      Help
    </div>
  <div class="hide">
    This page allows you to assign a Equipment to an Onboarder. You can only assign registered Equipments into the system. 
  </div>
    
  <form [formGroup]="assignEquipmentForm">

        <div class="form-group position">
          <h4>Select Equipment</h4>
          <mat-form-field appearance="fill">
            <mat-label>Equipment</mat-label>
            <mat-select formControlName="equipment">
              <mat-option *ngFor="let item of equipment" [value]="item.equipmentId" >
                {{item.equipmentSerialNumber}}-{{item.equipmentType.equipmentTypeDescription}}
              
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group position">
          <h4>Select Onboarder</h4>
          <mat-form-field appearance="fill">
            <mat-label>Onboarder</mat-label>
            <mat-select formControlName="onboarder">
              <mat-option *ngFor="let item of onboarder" [value]="item.id" >
                {{item.id}}-{{item.fullName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <p></p>

  <div class="form-group">
    <label>Equipment Check Out Date:</label>
    <input type="date"
          min="{{this.date}}"
           class="form-control input"
           id="EquipmentCheckOutDate"
           name="EquipmentCheckOutDate"
           formControlName="checkout"
           placeholder="Equipment Check Out Date">
  </div>

  <p></p>

   <div class="form-group ">
    <label>Enter Condition:</label>
    <input type="text"
           class="form-control positionInput"
           id="condition"
           name="EquipmentCheckOutCondition"
           formControlName="condition"
           placeholder="Check Out Condition">
  </div>

  <div class="">
    <button type="submit" class="btn btn-success" (click)="addOnboarder_Equipment()">SAVE</button>
  </div>
</form>
</div>

<p></p>

</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
