<div class="add-new-container">
  <div class="page-title">
    Manage All Question Banks
  </div>
  <div class="btn btn-primary add-new-button" (click)="addNewQuestionBtn()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill"
      viewBox="0 0 16 16">
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
    </svg>
  </div>
  <br />
</div>

<div *ngIf="updateQuestionClicked">
  <div class="editEmployeeTitleContainer">
    <div class="">Update Question</div>
  </div>
  <form>
    <div class="form-group name">
      <label>Enter Question Description:</label>
      <input type="text" class="form-control input" id="QuestionDescription" name="QuestionDescription"
        [(ngModel)]="model2.QuestionDescription" placeholder="Where is the Fountiain?">
    </div>
    <div class="form-group position">
      <label>Enter Question Answer:</label>
      <input type="number" class="form-control positionInput" id="QuestionAnswer" name="QuestionAnswer"
        [(ngModel)]="model2.QuestionAnswer" placeholder="2">
    </div>
    <div class="form-group position">
      <label>Enter Mark Allocation:</label>
      <input type="number" class="form-control positionInput" id="QuestionMarkAllocation" name="QuestionMarkAllocation"
        [(ngModel)]="model2.QuestionMarkAllocation" placeholder="2">
    </div>
    <div class="form-group position">
      <label>Enter Quiz:</label>
      <input type="number" class="form-control positionInput" id="QuizId" name="QuizId" [(ngModel)]="model2.QuizId"
        placeholder="2">
    </div>
    <button class="btn btn-success" type="submit" (click)="updateQuestion()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square"
        viewBox="0 0 16 16">
        <path
          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
        <path fill-rule="evenodd"
          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
      </svg>
      Update</button>
  </form>
</div>

<div *ngIf="newQuestionClicked">
  <div class="formWrapper">
    <mat-horizontal-stepper linear #stepper class="stepper-container">
      <mat-step [stepControl]="addQuestionBankForm" [editable]="true">
        <form [formGroup]="addQuestionBankForm" class="form">
          <ng-template matStepLabel>Bank Details</ng-template>

          <div class="tree-container">
            <div class="tree-item">
              <mat-form-field appearance="fill">
                <mat-label>Select Course</mat-label>
                <mat-select formControlName="CourseId" (selectionChange)="onSelectCourse($event)">
                  <mat-option *ngFor="let item of course" [value]="item.courseID">
                    {{item.courseName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="CourseId.touched && CourseId.invalid">
                  <div *ngIf="CourseId.errors.required">Couse is required.</div>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="tree-item">
              <mat-form-field appearance="fill" (click)="oNClickLessonTreeItem()">
                <mat-label>Select Lesson</mat-label>
                <mat-select formControlName="LessonId" (selectionChange)="onSelectlesson($event)">
                  <mat-option *ngFor="let item of lesson" [value]="item.lessonID">
                    {{item.lessonName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="LessonId.touched && LessonId.invalid">
                  <div *ngIf="LessonId.errors.required">Lesson is required.</div>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="tree-item">
              <mat-form-field appearance="fill">
                <mat-label>Select Lesson Outcome</mat-label>
                <mat-select formControlName="LessonOutcomeId">
                  <mat-option *ngFor="let item of lessonOutcome" [value]="item.lessonOutcomeID">
                    {{item.lessonOutcomeName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="LessonOutcomeId.touched && LessonOutcomeId.invalid">
                  <div *ngIf="LessonOutcomeId.errors.required">Lesson outcome is required.</div>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="tree-item">
              <mat-form-field appearance="fill" class="tree-item-input">
                <input matInput type="text" formControlName="Name" placeholder="Bank Name" required>
                <mat-error *ngIf="Name.touched && Name.invalid">
                  <div *ngIf="Name.errors.required">Bank Name is required.</div>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- <div class="submitBtnContainer">
            <button type="submit" class="btn btn-success" (click)="onSubmitAddQuestionBank()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
              </svg>
              SAVE
            </button>
          </div> -->

          <div class="button-row">
            <button mat-raised-button matStepperNext color="primary">Next</button>
          </div>

        </form>
      </mat-step>
      <mat-step [editable]="true">
        <form class="form">
          <ng-template matStepLabel>Questions</ng-template>
          <div class="field-container-inline">
            <mat-form-field class="question-input-field">
              <mat-label>Question</mat-label>
              <input matInput type="text" placeholder="What does BMW stand for?" #question>
            </mat-form-field>

            <button mat-raised-button color="warn" class="question-add-to-list-button"
              (click)="onAddQuestionToBank(question.value)">
              Add to bank
            </button>
          </div>

          <div *ngIf="questionsAddedToBank.length > 0" class="field-container-inline list-questions">
            <mat-list role="list">
              <mat-list-item *ngFor="let question of questionsAddedToBank" (click)="onRemoveQuestionFromBank(question)"
                matTooltip="Click to remove" class="question-in-bank">
                {{question.Name}}
              </mat-list-item>
            </mat-list>
          </div>

          <div class="control-buttons-container">
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext class="procced-button"
              (click)="onSubmitAddQuestionBank()">
              Submit
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>

<br />

<div class="tableWrapper">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-1">Course Name</th>
        <th class="col-2">Lesson Name</th>
        <th class="col-4"> Lesson Outcome</th>
        <th class="col-3">Question Bank</th>
        <th class="col-1">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of questionBanks; let i = index">
        <td>{{item.courseName}}</td>
        <td>{{item.lessonName}}</td>
        <td>{{item.lessonOutcomeName}}</td>
        <td>{{item.name}}</td>
        <td class="table-actions-container">

          <button class="btn btn-primary table-action-item" (click)="editQuestion(i)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </button>

          <button class="btn btn-danger table-action-item" (click)="deleteQuestion(item.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill"
              viewBox="0 0 16 16">
              <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
            </svg>
          </button>
          <button class="btn btn-warning table-action-item" (click)="onManageBankQuestions(item)"> Questions
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Please wait</p>
</ngx-spinner>
